<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>parents of floated elements: solution</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>The Evolution of the Bicyle</h1>
    <div>
        <p>
            1 <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quis, veniam delectus placeat quia consequatur magni quae sequi vero odit?
        </p>
        <p>
            2 <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti recusandae delectus officiis itaque aliquam cumque quas ratione odio enim ipsum!
        </p>
        <p>
            3 <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, labore?
        </p>
        <p class="clear-left">
            4 <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quis, veniam delectus placeat quia consequatur magni quae sequi vero odit?
        </p>
        <p>
            5 <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti recusandae delectus officiis itaque aliquam cumque quas ratione odio enim ipsum!
        </p>
        <p>
            6 <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, labore?
        </p>
        <p class="clear-left">
            7 <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quis, veniam delectus placeat quia consequatur magni quae sequi vero odit?
        </p>
        <p>
            8 <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti recusandae delectus officiis itaque aliquam cumque quas ratione odio enim ipsum!
        </p>
        <p>
            9 <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo quis, veniam delectus placeat quia consequatur magni quae sequi vero odit?
        </p>
    </div>
</body>
</html>