<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clearing floats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Using clear property</h2>
    <ul>
        <li>clear: left</li>
        <li>clear: right</li>
        <li>clear: both</li>
        <li>clear: none</li>
    </ul>
    <p>
        1 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sequi!
    </p>
    <p>
        2 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem, qui quos perspiciatis iusto tempore dolorum quam natus eveniet minima quo expedita nihil similique accusamus voluptate fuga est minus? Nobis?
    </p>
    <p class="clear-left">
        3 <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, totam! Laboriosam dolor cupiditate, corporis doloremque natus voluptas sapiente. Corporis, sed?
    </p>
    <p class="clear-left">
        4 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sequi!
    </p>
    <p class="clear-right">
        5 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem, qui quos perspiciatis iusto tempore dolorum quam natus eveniet minima quo expedita nihil similique accusamus voluptate fuga est minus? Nobis?
    </p>
    <p class="clear-both">
        6 <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, totam! Laboriosam dolor cupiditate, corporis doloremque natus voluptas sapiente. Corporis, sed?
    </p>
    <p class="clear-both">
        7 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem, qui quos perspiciatis iusto tempore dolorum quam natus eveniet minima quo expedita nihil similique accusamus voluptate fuga est minus? Nobis?
    </p>
    <p class="clear-none">
        8 <br>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, totam! Laboriosam dolor cupiditate, corporis doloremque natus voluptas sapiente. Corporis, sed?
    </p>
    <p >
        9 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rem, qui quos perspiciatis iusto tempore dolorum quam natus eveniet minima quo expedita nihil similique ac
</body>
</html>