<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position static</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Lorem, ipsum dolor.</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit similique modi harum? Eaque, exercitationem aperiam?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non earum aliquam pariatur sequi aut sed obcaecati quia, culpa dignissimos sint corporis expedita neque quaerat ipsa omnis, nesciunt consequatur repellat voluptatibus.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, porro culpa voluptates eum maxime dolore a consequuntur temporibus deserunt? Eum incidunt deleniti amet molestiae eos.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit similique modi harum? Eaque, exercitationem aperiam?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non earum aliquam pariatur sequi aut sed obcaecati quia, culpa dignissimos sint corporis expedita neque quaerat ipsa omnis, nesciunt consequatur repellat voluptatibus.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, porro culpa voluptates eum maxime dolore a consequuntur temporibus deserunt? Eum incidunt deleniti amet molestiae eos.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit similique modi harum? Eaque, exercitationem aperiam?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non earum aliquam pariatur sequi aut sed obcaecati quia, culpa dignissimos sint corporis expedita neque quaerat ipsa omnis, nesciunt consequatur repellat voluptatibus.
    </p>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, porro culpa voluptates eum maxime dolore a consequuntur temporibus deserunt? Eum incidunt deleniti amet molestiae eos.
    </p>
</body>
</html>