<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floating Element</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Floating Element</h1>
    <blockquote>
        "Life is like riding a bicycle. To keep your balance you must keep moving." - Albert Einstein
    </blockquote>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt reiciendis velit laudantium possimus numquam laboriosam porro nihil necessitatibus fugit dolor.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, libero.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur iusto inventore repellat libero pariatur aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, mollitia.
    </p>


    <h3>Using Float to Place Elements Side-by-Side</h3>
    
    <p class="example">
        1 <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta omnis dolor voluptatem in quisquam hic cupiditate voluptatibus magni non repellendus?
    </p>
    <p class="example">
        2 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <p class="example">
        3 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, ratione!
    </p>
    <p class="example">
        4 <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <p class="example">
        5 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus maiores iusto officiis ipsam quasi eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, consectetur?
    </p>
    <p class="example">
        6 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et optio, quisquam nulla laboriosam repudiandae maiores.
    </p>
    <p class="example">
        7 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et optio, quisquam nulla laboriosam repudiandae maiores.
    </p>
    <p class="example">
        8 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et optio Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis doloribus illum unde quas! Sit, id.
    </p>
    <p class="example">
        9 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et optio, quisquam nulla laboriosam repudiandae maiores.
    </p>
    <p class="example">
        10 <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et optio, quisquam nulla laboriosam repudiandae maiores.
    </p>
</body>
</html>