<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>overlapping elements</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Overlapping Element</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore exercitationem autem cumque odio deleniti minima quae. Voluptate deserunt tempora, esse illo, veniam dolores recusandae, dolore quod nihil pariatur ullam provident.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eum praesentium, iure excepturi magni, dignissimos laudantium nobis possimus at laboriosam error. Perferendis quia blanditiis assumenda.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vero maxime voluptate quae alias ad animi corrupti inventore molestias incidunt quibusdam, assumenda voluptatem. Culpa, commodi excepturi corrupti autem itaque provident necessitatibus ab numquam possimus quis.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore exercitationem autem cumque odio deleniti minima quae. Voluptate deserunt tempora, esse illo, veniam dolores recusandae, dolore quod nihil pariatur ullam provident.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eum praesentium, iure excepturi magni, dignissimos laudantium nobis possimus at laboriosam error. Perferendis quia blanditiis assumenda.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vero maxime voluptate quae alias ad animi corrupti inventore molestias incidunt quibusdam, assumenda voluptatem. Culpa, commodi excepturi corrupti autem itaque provident necessitatibus ab numquam possimus quis.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore exercitationem autem cumque odio deleniti minima quae. Voluptate deserunt tempora, esse illo, veniam dolores recusandae, dolore quod nihil pariatur ullam provident.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eum praesentium, iure excepturi magni, dignissimos laudantium nobis possimus at laboriosam error. Perferendis quia blanditiis assumenda.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vero maxime voluptate quae alias ad animi corrupti inventore molestias incidunt quibusdam, assumenda voluptatem. Culpa, commodi excepturi corrupti autem itaque provident necessitatibus ab numquam possimus quis.
    </p>
</body>
</html>